.my-group .form-control {
    width:50%!important;
}

#filterBy {
    width:0.5px!important;
}

.first-form-control{
    border-right:none;
}
.top {
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    background-color: #fff;
    height: 30px;
}

#save-periods {
  margin-top: 10px;
}

.table {
  margin-bottom: 0px!important;
}

.period:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.period:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/** SPINNER CREATION **/

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/** MODAL STYLING **/

.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt
  p {
    font-size: 13px;
    color: #666;
  }
  small {
    font-size: 11.5px;
    color: #999;
  }

