body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #474747;
    background-color: #e9ebee !important;
    max-width:100%;
}

body.in-iframe {
    background-image: none !important;
}

.in-iframe .footer {
    display: none;
}

h1, h2, h3, h4 {
    color: #003479;
    font-weight: 600;
}

h2, h3, h4 {
    margin-top: 30px;
}

h1 {
    font-size: 24px !important;
    line-height: 1.3;
}

h2 {
    font-size: 18px !important;
}

h3 {
    font-size: 16px !important;
}

h4 {
    line-height: 1.3;
}

.help-block.form-error {
    display: none;
}

input[type=text], input[type=tel], input[type=email] {
    box-shadow: none !important;
    background-clip: padding-box;
}

.site-content-wrapper {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    padding: 10px !important;
}

@media all and (min-width: 768px) {
    .head-left {
        float: left;
        border-top-left-radius: 25px;
        background-image:url("../images/Ontario_drivers_licence_left-compressor.png");
        height: 88px;
        width: 273px;
    }
    .head-right {
        border-top-right-radius: 25px;
        background-image:url("../images/Ontario_drivers_licence_right-compressor.png");
        height: 88px;
        width: 457px;
        float: right;
    }
    .head-middle {
        background-image:url("../images/Ontario_drivers_licence_center-compressor.png");
        height: 88px;
        margin-left: 272px;
        margin-right: 456px;
    }
    .navbar {
        background-image: url("../images/Permis_de_conduire.png");
        background-position: right;
    }

    body {
        background: linear-gradient(to top, #eef2f3, #acbace) fixed;
    }
}

@media all and (max-width: 767px) {
    #checkout div {
        position: fixed;
        top: 5px;
        left: 15px;
        z-index: 1001;
        width:48px!important;
        height:48px!important;
        box-sizing:border-box;
        background: url("../images/CC-48.png") left top no-repeat!important;
    }
}

@media all and (max-width: 667px) {
    h1 {
        font-size: 20px !important;
    }
    .sm {
        font-size: 13px;
    }
    .sm .address {
        font-size: 12px;
    }
}

.small {
    font-size: 13px !important;
}

.flex {
    display: flex;
}

.bottom {
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    background-color: #fff;
    height: 30px;
}

.navbar {
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-logo {
    padding-top: 9px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 15px;
    float: left;
    height: 50px;
}

.navbar .active a {
    background-color: rgba(100, 134, 165, 0.5) !important;
    color: rgb(36, 71, 117) !important;
    cursor: default;
}

.navbar a {
    color: rgb(36, 71, 117) !important;
    font-weight: 600;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbar li:hover:not(.active) {
    background-color: rgba(100, 134, 165, 0.3) !important;
}

.shadow {
    background-color: #e9ebee;
    box-shadow: 5px 5px 10px #999, -5px 5px 15px #999;
    border-radius: 25px;
}

.footer {
    padding: 5px;
    margin-top: 35px;
    color: #595959;
}

.address {
    margin-top: 5px;
    font-size: 13px;
}

.top-30 {
    margin-top: 30px !important;
}

#checkout div {
    position: fixed;
    top: 5px;
    left: 15px;
    z-index: 1001;
    width:96px;
    height:96px;
    box-sizing:border-box;
    background: url("../images/CC-96.png") left top no-repeat;
}