#bullets {
    padding-right: 15px;
    padding-left: 10px;
}

#bullets li {
    padding: 1px;
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .hints .form-group {
        height: 88px !important;
    }
}

@media all and (max-width: 768px) {
    .period .location {
        flex: 1 0 50% !important;
    }
}

@media all and (max-width: 320px) {
    .add-remove button {
        padding-left: 5px;
        padding-right: 5px;
    }

    .period .time .from {
        flex: 1 0 90px !important;
    }
}

@media all and (max-width: 667px) {
    .col-xs-6.license {
        width: 56%;
    }

    .col-xs-6.expiry {
        width: 44%;
    }

    .license label[for='licenceNumber'] span, .expiry label[for='licenceExpiryDate'] span, .col-xs-3 label[for='class'] span {
        display: none;
    }

    .no-padding-right {
        padding-right: 0px !important;
    }

    .no-padding-side {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .no-margin-left {
        margin-left: 0px !important;
    }

    input.form-control {
        font-size: 13px !important;
    }

    .period .location {
        max-width: 100% !important;
        padding-bottom: 8px;
    }

    #video {
        width: 100% !important;
        padding-right: 0px !important;
    }
}

[tooltip]{
    position:relative;
    display:inline-block;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:80%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 99;
    opacity:1;
}
.periods > .period ~ .period [tooltip]::before {
    opacity:0;
}
[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    width: 150px;
    border-radius: 5px;
    //pointer-events: none;
    z-index:99;
    opacity:1;
}
.periods > .period ~ .period [tooltip]::after {
    opacity:0;
}
[tooltip-position='top']::after{
    left:70%;
}

[tooltip]:hover::after,[tooltip]:hover::before {
    opacity:1
}
.periods > .period ~ .period [tooltip]:hover::after, .periods > .period ~ .period [tooltip]:hover::before {
    opacity:0;
}

.special {
    color: #fff!important;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
    padding: 8px!important;
}
.special:hover {
    background-color: #286090!important;
    border-color: #204d74!important;
}

.bs-select-all {
    display: none;
}
.bs-actionsbox > .btn-group {
    display: flex;
    justify-content: flex-end;
}

.period {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #eeeeee;
}

.small {
    font-size: 13px !important;
}

.margin-left {
    margin-left: 8px;
}

.margin-left-15 {
    margin-left: 15px;
}

.bottom-20 {
    margin-bottom: 20px !important;
}


form .form-control::-moz-placeholder {
  color: #cacaca;
  opacity: 1;
}

form .form-control:-ms-input-placeholder {
  color: #cacaca;
}

form .form-control::-webkit-input-placeholder {
  color: #cacaca;
}

.hints .form-group {
    height: 68px;
}

.period .location {
    flex: 1 0 70%;
    max-width: 50%;
}

.period .time {
    display: flex;
    flex: 1 1 330px;
}

.add-remove {
    display: inline-flex;
}

.period .time .from {
    flex: 1 0 100px;
    margin-left: 15px;
}

.add-remove #addPeriod {
    flex: 1 1 35px;
}

.add-remove #removePeriod {
    flex: 1 1 35px;
}

.order-form .flex {
    align-items: center;
}

#video {
    float: left;
    width: 58%;
    padding-right: 20px;
    margin-bottom: 10px;
}